@model List<ApplicationUser>

@{

    ViewBag.PageTitle = "Users Managment";
    ViewBag.CardTitle = "View Users";
    Layout = "_AdminLayout";
}


<div>

   <a class="btn btn-primary" href="/identity/Account/Register">Create a new user</a>
</div>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>
                @if(item.LockoutEnd==null || item.LockoutEnd < DateTime.Now)
                {
                    <a class="btn btn-success" asp-action="LockUnlock" asp-route-id="@item.Id" >
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="LockUnlock" asp-route-id="@item.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
                
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Users" class="btn btn-danger">Delete</a>

            </td>
        </tr>


    }
</table>
