@model IEnumerable<Demo_1_Ecommerce.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="fas fa-plus"></i> Add New
    </a>
</p>

<h2>Products</h2>
<div class="card-body">
    <table class="table-responsive">
        <thead>
            <tr>
                <th>id</th>
                <th>image</th>
                <th>Name</th>
                <th>ShortDescription</th>
                <th>LongDescription</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.ProductImages</td>
                        <td>@item.ProductName</td>
                        <td>@item.ShortDescription</td>
                        <td>@item.LongDescription</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.CategoryName</td>
                        <td>@item.SubCategoryName</td>
                        <td>
                            <a class="btn btn-rounded btn-info" href="@Url.Action("Details", "Products", new { id = item.ProductId })">Details</a> |
                            <a class="btn btn-rounded btn-warning" href="@Url.Action("Edit", "Products", new { id = item.ProductId })">Edit</a> |
                            <a class="btn btn-rounded btn-danger" href="@Url.Action("Delete", "Products", new { id = item.ProductId })">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No products available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>